extends ../layouts/default-layout
block navigation
    li.header_navItem
        a.header_navLink.header_navLink_active(href='/') Our Approach
    li.header_navItem
        a.header_navLink(href='work.html') See Our Work
    li.header_navItem
        a.header_navLink(href='blog.html') Our Blog
    li.header_navItem
        a.header_navLink.header_navLink_themeLight(href='contact.html') Contact Us
block content
    main
        section.sectionApproach
            .sectionApproach_description.section_description
                h2 Our Approach
                p
                    | Our process is highly iterative and focused on the needs of your business and its customers. Technology exists for the people who use it, and we never forget that.
        section.sectionApproach_content.flex_column
            .sectionApproach_item
                .sectionApproach_itemIcon.sectionApproach_itemIcon_1
                .sectionApproach_itemText
                    h2.section_descriptionHeader_themeLight Pleased to Meet You
                    p
                        | Your vision matters most, and we want to learn about it while getting to know you and your business needs. We are not faceless mercenaries, but a talented team of developers & designers that wants to help you succeed.
            .sectionApproach_item
                .sectionApproach_itemIcon.sectionApproach_itemIcon_2
                .sectionApproach_itemText
                    h2.section_descriptionHeader_themeLight Planning Session
                    p
                        | Furious whiteboarding and challenged ideas will lead to a sketch of your idea while generating a set of user stories, which are your entire application in written form. We will use these to prioritize your needs, estimate your cost and get cracking on the code.
            .sectionApproach_item
                .sectionApproach_itemIcon.sectionApproach_itemIcon_3
                .sectionApproach_itemText
                    h2.section_descriptionHeader_themeLight Design
                    p
                        | Design is where form and function meet. Tools are only as powerful as one’s ability to use them, and we will work together to design intuitive, powerfully simple applications. Our designers are artists, and our developers are craftsmen. Your software will look as good as it feels.
            .sectionApproach_item
                .sectionApproach_itemIcon.sectionApproach_itemIcon_4
                .sectionApproach_itemText
                    h2.section_descriptionHeader_themeLight Minimum Viable Product
                    p
                        | Everything comes together in your Minimum Viable Product. We will get this into the hands of users in order to learn from their interactions and the data they generate. This saves you money by taking the guesswork out of development. We will crunch the numbers and sweat the technical details to keep you on the path to profitability.
            .sectionApproach_item
                .sectionApproach_itemIcon.sectionApproach_itemIcon_5
                .sectionApproach_itemText
                    h2.section_descriptionHeader_themeLight Iterate
                    p
                        | You have users, revenue and an appetite for more. Lessons learned will be turned into improved functionality and a better, stronger application, capturing more users along the way. Perhaps you are ready to hire your own tech team, and we will proudly hand you off like parents at the first day of school…but you will always have a room in our home.
        section.sectionExpertise
            .sectionExpertise_content.flex_row
                h2 Our Digital Expertise
                .sectionExpertise_item
                    h3 Web Applications
                    p If your business is on the web then we can help build it or make it better.
                .sectionExpertise_item
                    h3 Mobile Applications
                    p
                        | Customers are on the go, and so is their technology. We make software that is as mobile as the people who use it.
                .sectionExpertise_item
                    h3 Scalability
                    p
                        | Growing pains mean traction, but they don't have to hurt. You can't afford to lose customers due to poorly implemented code, and we won't let you.
                .sectionExpertise_item
                    h3 Testing
                    p
                        | Stories are nice, but learning through data is what creates a great product and a sustainable business. We track, analyze and learn as we build simply perfect software.
                .sectionExpertise_item
                    h3 Lean Tactics
                    p
                        | Lean tactics ensure we build the right application, every time, by adapting to new information gleaned through user interactions.
                .sectionExpertise_item
                    h3 Agile Methodologies
                    p
                        | We will work together to uncover the most pressing needs of your users before writing one line of code, and ensure our work serves the end goal, not to project plan as dictated on day one.
            h3 Want to start the conversation?
            button.button.sectionExpertise_button Contact Us
