<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pug Simple Examples</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/cannon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header_menu flex_row">
        <div class="header_logo"><a class="header_link" href="home.html"></a></div>
        <nav class="header_nav">
          <ul class="header_navList flex_row">
            <li class="header_navItem"><a class="header_navLink header_navLink_active" href="/">Our Approach</a></li>
            <li class="header_navItem"><a class="header_navLink" href="work.html">See Our Work</a></li>
            <li class="header_navItem"><a class="header_navLink" href="blog.html">Our Blog</a></li>
            <li class="header_navItem"><a class="header_navLink header_navLink_themeLight" href="contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="sectionApproach">
        <div class="sectionApproach_description section_description">
          <h2>Our Approach</h2>
          <p>Our process is highly iterative and focused on the needs of your business and its customers. Technology exists for the people who use it, and we never forget that.</p>
        </div>
      </section>
      <section class="sectionApproach_content flex_column">
        <div class="sectionApproach_item">
          <div class="sectionApproach_itemIcon sectionApproach_itemIcon_1"></div>
          <div class="sectionApproach_itemText">
            <h2 class="section_descriptionHeader_themeLight">Pleased to Meet You</h2>
            <p>Your vision matters most, and we want to learn about it while getting to know you and your business needs. We are not faceless mercenaries, but a talented team of developers & designers that wants to help you succeed.</p>
          </div>
        </div>
        <div class="sectionApproach_item">
          <div class="sectionApproach_itemIcon sectionApproach_itemIcon_2"></div>
          <div class="sectionApproach_itemText">
            <h2 class="section_descriptionHeader_themeLight">Planning Session</h2>
            <p>Furious whiteboarding and challenged ideas will lead to a sketch of your idea while generating a set of user stories, which are your entire application in written form. We will use these to prioritize your needs, estimate your cost and get cracking on the code.</p>
          </div>
        </div>
        <div class="sectionApproach_item">
          <div class="sectionApproach_itemIcon sectionApproach_itemIcon_3"></div>
          <div class="sectionApproach_itemText">
            <h2 class="section_descriptionHeader_themeLight">Design</h2>
            <p>Design is where form and function meet. Tools are only as powerful as one’s ability to use them, and we will work together to design intuitive, powerfully simple applications. Our designers are artists, and our developers are craftsmen. Your software will look as good as it feels.</p>
          </div>
        </div>
        <div class="sectionApproach_item">
          <div class="sectionApproach_itemIcon sectionApproach_itemIcon_4"></div>
          <div class="sectionApproach_itemText">
            <h2 class="section_descriptionHeader_themeLight">Minimum Viable Product</h2>
            <p>Everything comes together in your Minimum Viable Product. We will get this into the hands of users in order to learn from their interactions and the data they generate. This saves you money by taking the guesswork out of development. We will crunch the numbers and sweat the technical details to keep you on the path to profitability.</p>
          </div>
        </div>
        <div class="sectionApproach_item">
          <div class="sectionApproach_itemIcon sectionApproach_itemIcon_5"></div>
          <div class="sectionApproach_itemText">
            <h2 class="section_descriptionHeader_themeLight">Iterate</h2>
            <p>You have users, revenue and an appetite for more. Lessons learned will be turned into improved functionality and a better, stronger application, capturing more users along the way. Perhaps you are ready to hire your own tech team, and we will proudly hand you off like parents at the first day of school…but you will always have a room in our home.</p>
          </div>
        </div>
      </section>
      <section class="sectionExpertise">
        <div class="sectionExpertise_content flex_row">
          <h2>Our Digital Expertise</h2>
          <div class="sectionExpertise_item">
            <h3>Web Applications</h3>
            <p>If your business is on the web then we can help build it or make it better.</p>
          </div>
          <div class="sectionExpertise_item">
            <h3>Mobile Applications</h3>
            <p>Customers are on the go, and so is their technology. We make software that is as mobile as the people who use it.</p>
          </div>
          <div class="sectionExpertise_item">
            <h3>Scalability</h3>
            <p>Growing pains mean traction, but they don't have to hurt. You can't afford to lose customers due to poorly implemented code, and we won't let you.</p>
          </div>
          <div class="sectionExpertise_item">
            <h3>Testing</h3>
            <p>Stories are nice, but learning through data is what creates a great product and a sustainable business. We track, analyze and learn as we build simply perfect software.</p>
          </div>
          <div class="sectionExpertise_item">
            <h3>Lean Tactics</h3>
            <p>Lean tactics ensure we build the right application, every time, by adapting to new information gleaned through user interactions.</p>
          </div>
          <div class="sectionExpertise_item">
            <h3>Agile Methodologies</h3>
            <p>We will work together to uncover the most pressing needs of your users before writing one line of code, and ensure our work serves the end goal, not to project plan as dictated on day one.</p>
          </div>
        </div>
        <h3>Want to start the conversation?</h3>
        <button class="button sectionExpertise_button">Contact Us</button>
      </section>
    </main>
    <footer class="footer">
      <div class="footer_content flex_row">
        <div class="footer_logo"></div><span class="footer_item"><a class="footer_link" href="blog.html">Our Blog</a></span><span class="footer_item"><a class="footer_link" href="https://twitter.com">Twitter</a></span><span class="footer_item"><a class="footer_link" href="htpps://facebook.com">Facebook</a></span>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>