<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pug Simple Examples</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/cannon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header_menu flex_row">
        <div class="header_logo"><a class="header_link" href="home.html"></a></div>
        <nav class="header_nav">
          <ul class="header_navList flex_row">
            <li class="header_navItem"><a class="header_navLink" href="approach.html">Our Approach</a></li>
            <li class="header_navItem"><a class="header_navLink" href="work.html">See Our Work</a></li>
            <li class="header_navItem"><a class="header_navLink" href="blog.html">Our Blog</a></li>
            <li class="header_navItem"><a class="header_navLink header_navLink_themeLight" href="contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main></main>
    <section class="sectionPost">
      <div class="sectionPost_header"></div>
      <div class="sectionPost_content">
        <p>by<span class="text_themeLight">Cassandra Stish</span> on December 17, 2014</p>
        <h2>Project Managers - are they the evolutionary “pinkie toe” of development?</h2>
        <h3>First paragraph is autmatically formatted to look like a proper lead. This means that he first sentence or two will be formated like this. Read more to see all the elements and typography showcase.</h3>
        <p>This is regular paragraph text. Etiam bibendum pellentesque orci, sed ornare libero iaculis quis. Morbi at felis et massa molestie vulputate vitae non urna. Phasellus augue diam, lacinia id cursus quis, ultricies non sapien. Suspendisse lobortis arcu non molestie commodo.</p>
        <p>Donec lorem est, porttitor eget elit in, molestie vehicula urna. Nam lobortis, tortor vel pellentesque ullamcorper, urna metus tempus ligula, a malesuada enim libero ut nunc. Donec varius neque quis aliquam euismod. Nam blandit mi et urna tempor, ac tincidunt nibh ullamcorper.</p>
        <p>Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus.<span class="text_themeLight">Vivamus vestibulum feugiat</span> sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.</p>
        <blockquote class="sectionPost_blockquote"><span class="text_themeLight">“Outside of a dog, a book is a man's best friend. Inside of a dog it's too dark to read.” -Groucho Marx</span></blockquote>
        <p>Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.</p>
        <figure class="sectionPost_image"><img src="images/blogPost_image.jpg"></figure>
        <h3>This is a subtitle</h3>
        <p>Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.</p>
        <h3>This is another subtitle with p text and bulletpoints</h3>
        <p>Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio.<span class="text_themeLight">Sed turpis sapien</span>, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.</p>
        <ol class="sectionPost_list">
          <li class="sectionPost_listItem">Nam metus turpis, faucibus quis</li>
          <li class="sectionPost_listItem">Iaculis dignissim nisl lorem ipsum dolor</li>
          <li class="sectionPost_listItem">Vestibulum eget odio ac ante ornare</li>
        </ol>
        <p>Nulla facilisi. Integer tortor ipsum, congue eu risus eu, interdum laoreet sapien. Aenean at consequat risus. Vivamus vestibulum feugiat sem vel eleifend. Nam et mi porta, tristique massa et, feugiat odio. Sed turpis sapien, pulvinar non placerat id, auctor at purus. Sed at rutrum elit. Phasellus molestie cursus porttitor. Proin eu adipiscing ante, sit amet tincidunt ligula.</p>
        <h3>What about code?</h3>
        <p>Nulla facilisi. Mauris magna purus, auctor id congue sit amet,<span class="text_emphasized">debugger</span> quis lacus. Aliquam faucibus,<span class="text_emphasized">e.dataTransfer.getData("text")</span> elit mauris suscipit massa, egetultrices nunc arcu at eros.</p>
      </div>
      <div class="sectionPost_box flex_row">
        <div class="sectionPost_navigation flex_row"><a class="sectionBlog_navigationPrevious" href=""><span class="sectionBlog_navigationLeft">←</span>Previous</a><a class="sectionBlog_navigationNext" href="">Next<span class="sectionBlog_navigationRight">→</span></a></div>
        <div class="sectionPost_link flex_row"><a href="">TweetThis</a><a href="">FacebookThis</a></div>
      </div>
    </section>
    <section class="sectionConversation">
      <h3>Want to start the conversation?</h3>
      <button class="button sectionConversation_button">Contact Us</button>
    </section>
    <footer class="footer">
      <div class="footer_content flex_row">
        <div class="footer_logo"></div><span class="footer_item"><a class="footer_link" href="blog.html">Our Blog</a></span><span class="footer_item"><a class="footer_link" href="https://twitter.com">Twitter</a></span><span class="footer_item"><a class="footer_link" href="htpps://facebook.com">Facebook</a></span>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>