<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pug Simple Examples</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/cannon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header_menu flex_row">
        <div class="header_logo"><a class="header_link" href="home.html"></a></div>
        <nav class="header_nav">
          <ul class="header_navList flex_row">
            <li class="header_navItem"><a class="header_navLink" href="approach.html">Our Approach</a></li>
            <li class="header_navItem"><a class="header_navLink" href="work.html">See Our Work</a></li>
            <li class="header_navItem"><a class="header_navLink" href="blog.html">Our Blog</a></li>
            <li class="header_navItem"><a class="header_navLink header_navLink_themeLight header_navLink_active_themeLight" href="/">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="sectionForm">
        <div class="sectionForm_description section_description">
          <h2>Let's Talk About You</h2>
          <p>
            If you think we'd be a good fit for your next project or have an idea you'd like to share with us, we'd love
            to hear all about it.
          </p>
        </div>
        <div class="sectionForm_form flex_row">
          <input class="sectionForm_formControl" type="text" name="name" required="" placeholder="Your Name ..." height="50">
          <input class="sectionForm_formControl" type="email" name="email" required="" placeholder="Your Email ..." height="50">
          <textarea class="sectionForm_formControl sectionForm_formText" required="" name="message" placeholder="Your Message ..."></textarea>
          <button class="button sectionForm_button" type="submit">Submit</button>
        </div>
      </section>
      <section class="sectionContact">
        <h2>Contact Us</h2>
        <div class="sectionContact_boxMail flex_row">
          <div class="sectionContact_itemMail">
            <h3>General Enquiries</h3><a class="sectionContact_linkMail" href="mailto:hello@daikatana.com">hello@daikatana.com</a>
          </div>
          <div class="sectionContact_itemMail">
            <h3>Work Enquiries</h3><a class="sectionContact_linkMail" href="mailto:work@daikatana.com">work@daikatana.com</a>
          </div>
          <div class="sectionContact_itemMail">
            <h3>Career Enquiries</h3><a class="sectionContact_linkMail" href="mailto:jobs@daikatana.com">jobs@daikatana.com</a>
          </div>
        </div>
        <h2>Our Locations</h2>
        <div class="sectionContact_boxAddress flex_row">
          <div class="sectionContact_itemAddress">
            <h3>Charlottesville</h3>
            <address class="sectionContact_address">
              Lorem Ipsum 42 Dolor sit Amet N3
              Charlottesville, VA 22902
            </address>
          </div>
          <div class="sectionContact_itemAddress">
            <h3>San Francisco</h3>
            <address class="sectionContact_address">
              972 Dummy Street, 5th Floor
              San Francisco, CA 94103
            </address>
          </div>
          <div class="sectionContact_itemAddress">
            <h3>Austin</h3>
            <address class="sectionContact_address">
              701 Lorem Ipsum, Suite 1612 #1919
              Austin, TX 78701
            </address>
          </div>
        </div>
      </section>
      <section class="sectionMap"></section>
      <section class="sectionMore">
        <h3>Find Out More</h3>
        <div class="sectionMore_buttonBox flex_row">
          <button class="button sectionMore_button"><a href="">Our Approach</a></button>
          <p>or</p>
          <button class="button sectionMore_button"><a href="">Our Work</a></button>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer_content flex_row">
        <div class="footer_logo"></div><span class="footer_item"><a class="footer_link" href="blog.html">Our Blog</a></span><span class="footer_item"><a class="footer_link" href="https://twitter.com">Twitter</a></span><span class="footer_item"><a class="footer_link" href="htpps://facebook.com">Facebook</a></span>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>