<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pug Simple Examples</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/cannon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header_menu flex_row">
        <div class="header_logo"><a class="header_link" href="home.html"></a></div>
        <nav class="header_nav">
          <ul class="header_navList flex_row">
            <li class="header_navItem"><a class="header_navLink" href="approach.html">Our Approach</a></li>
            <li class="header_navItem"><a class="header_navLink header_navLink_active" href="/">See Our Work</a></li>
            <li class="header_navItem"><a class="header_navLink" href="blog.html">Our Blog</a></li>
            <li class="header_navItem"><a class="header_navLink header_navLink_themeLight" href="contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="sectionWork">
        <div class="sectionWork_description section_description">
          <h2>Our Work</h2>
          <p>We have a solid track record of delivering great results - on time and on budget. Here are just a few of our recent wins..</p>
        </div>
        <div class="sectionWork_content flex_row">
          <div class="sectionWork_item sectionWork_item_1"><a class="sectionWork_link" href="http://www.agogo.com/" title="Agogo.com"></a></div>
          <div class="sectionWork_item sectionWork_item_2">
            <h3>Tendril</h3>
            <p>Individualized energy.</p>
            <p>Personal. Relevant. Actionable.</p>
          </div>
          <div class="sectionWork_item sectionWork_item_3"><a class="sectionWork_link" href="http://www.charlottesville.org/" title="Charlottesville.org"></a></div>
          <div class="sectionWork_item sectionWork_item_4"><a class="sectionWork_link" href="https://www.amuze.com/" title="Amuze.com"></a></div>
          <div class="sectionWork_item sectionWork_item_5"><a class="sectionWork_link" href="" title=""></a></div>
          <div class="sectionWork_item sectionWork_item_6"><a class="sectionWork_link" href="" title=""></a></div>
          <div class="sectionWork_item sectionWork_item_7"><a class="sectionWork_link" href="" title="Availendar"></a></div>
          <div class="sectionWork_item sectionWork_item_8"><a class="sectionWork_link" href="" title="Dining Daily"></a></div>
          <div class="sectionWork_item sectionWork_item_9"><a class="sectionWork_link" href="https://www.eyepi.com/" title="Eyepi.com"></a></div>
          <div class="sectionWork_item sectionWork_item_10"><a class="sectionWork_link" href="" title="PartyBook"></a></div>
        </div>
      </section>
      <section class="sectionConversation">
        <h3>Want to start the conversation?</h3>
        <button class="button sectionConversation_button">Contact Us</button>
      </section>
    </main>
    <footer class="footer">
      <div class="footer_content flex_row">
        <div class="footer_logo"></div><span class="footer_item"><a class="footer_link" href="blog.html">Our Blog</a></span><span class="footer_item"><a class="footer_link" href="https://twitter.com">Twitter</a></span><span class="footer_item"><a class="footer_link" href="htpps://facebook.com">Facebook</a></span>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>