footer.footer
    .footer_content.flex_row
        .footer_logo
        span.footer_item
            a.footer_link(href='blog.html') Our Blog
        span.footer_item
            a.footer_link(href='https://twitter.com') Twitter
        span.footer_item
            a.footer_link(href='htpps://facebook.com') Facebook
script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.min.js')
script(type='text/javascript' src='https://unpkg.com/swiper/swiper-bundle.min.js')
